#containers {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
}

#aboutme-container{
    border-radius: 0 0 30px 30px;
    display: flex;
    padding: 0 40px;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    backdrop-filter: blur(var(--backdrop-filter-1));
    background-color: var(--background-1);
    border-bottom: var(--border-2); border-top: var(--border-2);
}

#container-title {
    transition: all 0.3s ease-in-out;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-bottom: var(--border-2);
    font-weight: 700;
    font-size: 85px;
}

#scroll-fix {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
}