#navbar-pre {
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 20px;
}

#navbar {
    color: var(--text-color-1);
    display: flex;
    justify-content: space-between;
    width: 90%;
    backdrop-filter: blur(var(--backdrop-filter-1));
    background-color: var(--background-1);
    border: var(--border-2);
    border-radius: 30px 30px 0 0;
    padding: 0 40px;
}

#navbar-left, #navbar-mid, #navbar-right {
    gap: 40px;
    display: flex;
    font-weight: 500;
    font-size: 19px;
    padding: 15px;
}

#navbar-left {
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.navbar-left-img {
    transition: all 0.5s ease-in-out;
    animation: logo-rotate-1 2.5s ease-in-out infinite;
}

.navbar-left-img:hover {
    filter: drop-shadow(0 0 5px #ffa60063);
}

#navbar-mid-option {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar-mid-option-underline {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    padding: 1px 0px;
    width: 70%;
    transform: translateY(10px);
    animation: RGB-animation-1 3s linear infinite;
    background: linear-gradient(90deg, rgba(255,132,15,1), rgba(255,189,127,1), rgba(244,194,75,1), rgba(255,132,15,1));
    background-size: 200%;
    filter: contrast(10%);
}

#navbar-mid-option:hover .navbar-mid-option-underline {
    transform: translateY(0);
    filter: contrast(10%) brightness(1.7);
    opacity: 1;
}

#active {
    filter: contrast(100%);
    transform: translateY(0);
    opacity: 1; 
}

#navbar-mid-option:hover a#active.navbar-mid-option-underline {
    filter: contrast(100%);
}

#navbar-right-option {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#navbar-right-option-flex {
    display: flex;
    gap: 4px;
}

#navbar-right-option-language {
    cursor: pointer;
    fill: #b4b4b4;
    width: 16px;
}

#navbar-mid-mobile {
    flex-direction: column;
    display: none;
    transition: all 0.7s ease-in-out;
    color: var(--text-color-1);
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
}

#navbar-mid-mobile-menu {
    gap: 7px;
    min-height: 80px;
    align-items: center;
    display: flex;
}

#navbar-mid-mobile-menu::before, #navbar-mid-mobile-menu::after {
    content: '';
    background-image: url(https://cdn.discordapp.com/attachments/1180440086664450048/1318273441350287370/down-arrow.webp?ex=6761b950&is=676067d0&hm=49207d8e2ac2821dec0b1c3d51721c77dac0c885391f9fbacd8d043728fec95e&);
    background-size: cover;
    width: 20px;
    height: 20px;
}

#navbar-mid-mobile-menu-table {
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    border-right: var(--border-2); border-left: var(--border-2); border-bottom: var(--border-2);
    width: 90%;
    background: rgba(12, 12, 12, 0.9);
    border-radius: 0 0 15px 15px;
}

#navbar-mid-mobile-menu-table-option {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 7px;
    padding: 15px 0;
    border-radius: 0 0 15px 15px;
    border-bottom: var(--border-2);
}